<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
        <span class="menu-button" onclick="toggleSidebar()">☰ Menu</span>
        <input type="text" class="search-bar" placeholder="Search for blogs">
        <div class="logo">CodeChronicles</div>
    </div>

    <div id="sidebar" class="sidebar">
        <a href="#" class="closebtn" onclick="toggleSidebar()">&times;</a>
        <a href="/home">Home</a>
        <div class="dropdown">
            <a href="#" class="admin-link" onclick="toggleDropdown()">Admin</a>
            <div class="dropdown-content">
                <a href="/admin">Edit Post</a>
                <a href="/create">Create Post</a>
            </div>
        </div>
        <a href="/contact">Contact Us</a>
        <a href="/sign">Log out</a>

        <div class="social-icons">
            <i id="f" class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-x-twitter"></i>
        </div>
    </div>



          </div>
        </div>
      </nav>

    <div  class="create">
        <h1>Create a New Post</h1>
        <form action="/create" method="POST" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
            
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
            
            
            <button type="submit">Post</button>
        </form>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>CodeChronicles</h3>
                        <p>We are your very own programming diary. Share your experience as you journey unto becoming a professional programmer.You also get
                            to meet experienced programmers!
                        </p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">CodeChronicles © 2024</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


    <script>
      function toggleSidebar() {
          var sidebar = document.getElementById("sidebar");
          if (sidebar.style.width === "250px") {
              sidebar.style.width = "0";
          } else {
              sidebar.style.width = "250px";
          }
      }

      function toggleDropdown() {
          var dropdownContent = document.querySelector('.dropdown-content');
          if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
          } else {
              dropdownContent.style.display = "block";
          }
      }
  </script>

</body>
</html>
